<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home"> home</a></li>
        <li><a href="/galeria"> Galeria</a></li>
        <li><a href="/artistas"> Artistas</a></li>
        <li><a href="/contacto"> Contacto</a></li>
        <li><a href="/servicios"> Servicios</a></li>
        
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
