.ContenedorT{
    background-color: rgb(72, 95, 126) ;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}
.Caja1{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 26px;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 15px;
    background-color:red;
    box-shadow: 0 0 15px rgb(255, 0, 0)
}
.Caja2{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 200px;
    font-size: 26px;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 15px;
    background-color:blue;
    box-shadow: 0 0 15px rgb(60, 51, 146)
}
.Caja3{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 200px;
    font-size: 26px;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 15px;
    background-color:green;
    box-shadow: 0 0 15px rgb(21, 255, 0)
}